
<!-- <div brand-header></div> -->
<div brand-header="brand-header"></div>
<div ng-class="{'fade-page': fadePage}" class="container-fluid diagnostic">
  <!-- ----------------------------------->
  <!-- OS INCOMPATIBLE - ANDROID - STORE-->
  <!-- ----------------------------------->
  <div class="col-xs-12 mobile_unsupport">
    <div class="unsupport_container col-sm-offset-3 col-sm-6 col-xs-offset-1 col-xs-10">
      <h3 class="text-center">Something went wrong!</h3>
      <div class="unspport text-center">
        <p>We are not supporting mobile browser</p>
      </div>
      <h5 class="text-center">Download app from store</h5>
      <div class="logo-wrapper">
        <div class="app-logo">
          <div class="mobile_icon">
            <div><a href="http://www.wandoujia.com/apps/com.wallstreetenglish.dc"> <img src="images/wandoujia-logo.png"/></a></div><span>Wandoujia</span>
          </div>
          <div class="mobile_icon">
            <div><a ng-href="http://play.91.com/android/Index"><img src="/images/91-mobile-assistant-logo.png"/></a></div><span>91 Mobile Assistant</span>
          </div>
          <div class="mobile_icon">
            <div><a href="http://www.hiapk.com/"><img src="images/hiapk-logo.png"/></a></div><span>HiApk</span>
          </div>
          <div class="mobile_icon">
            <div><a href="http://sj.qq.com/myapp/detail.htm?apkName=com.wallstreetenglish.dc"><img src="images/myapp-logo.png"/></a></div><span>myapp</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
