
<div id="expel">
  <div class="instruction-container">
    <div class="row">
      <div class="col-lg-6 col-sm-6 col-md-6 col-xs-6 instruction_box">
        <div class="text-center mbottom_20 animated slideInDown"><span class="inblock"></span><i class="dc-icon dc-block"></i></div>
        <h2 class="text-center animated slideInDown">Expelled</h2>
        <p class="text-center animated slideInDown">You have been expelled from this class. </p>
        <p class="text-center animated slideInDown">Please contact your center.</p>
        <div ng-if="callbackUrl">
          <!--p.message Please wait for a few seconds. We are redirecting you to WallStreetEnglish home page.-->
          <p class="loader-container"></p><span class="loader"></span>
        </div>
      </div>
    </div>
  </div>
</div>