<!-- <div brand-header></div> -->
<div brand-header="brand-header"></div>
<div class="error-page diagnostic">
  <!--
  .page-center
  	.smiley
  		.thanks :)
  	h4 Thank you for using Digital Classroom
  	p We hope you had a wonderful experience.

  	div(ng-if="callbackUrl")
  		p.message Please wait for a few seconds. We are redirecting you to WallStreetEnglish home page.

  		p.loader-container
  			span.loader

  -->
  <div class="instruction-container">
    <div class="row">
      <div class="col-sm-12 instruction_box">
        <h2 class="text-center animated slideInDown">Thank You</h2>
        <p class="text-center animated slideInDown">We hope you enjoyed your class</p>
      </div>
    </div>
  </div>
</div>
