<div class="diagnostic">
  <div class="wrapper page-center col-sm-12">
    <div class="block-wrapper" id="browser-block">
      <div class="instruction-container">
        <div class="row">
          <div class="col-sm-12 instruction_box">
            <h2 class="text-center animated flipInX">Something went wrong!</h2>
            <p class="text-center animated slideInDown">We only support these browsers</p>
            <div class="text-center animated">
              <span class="inblock image_desc">
                <img src="images/icon-chrome.png" alt="Chrome"/>
                <p>72+</p>
              </span>
              <span class="inblock image_desc">
                <img src="images/fire-fox.png" alt="Firefox"/>
                <p>60+</p>
              </span>
              <span class="inblock image_desc">
                  <img src="images/safari-icon.png" alt="Safari"/>
                  <p>12.1+</p>
              </span>
            </div>
            <div class="text-center">
              <a data-ng-href="{{callbackUrl}}" title="Go to Learning Services" class="btn btn-primary btn-sm">Go Back</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
