<div class="diagnostic">
  <div class="wrapper page-center col-sm-12">
    <!-- ----------------->
    <!-- OS INCOMPATIBLE-->
    <!-- ----------------->
    <div class="block-wrapper" id="os-block">
      <div class="instruction-container">
        <div class="row">
          <div class="col-sm-12 instruction_box">
            <h2 class="text-center animated slideInDown">Something went wrong!</h2>
            <p class="text-center animated slideInDown">We only support these systems</p>
            <div class="text-center animated"><span class="inblock image_desc"><img class="os-icon" alt="Mac OSX 10.9.4 or later" src="/images/icon-mac.png" data-holder-rendered="true"/>
                <p>Mac OSX 10.9.4 or later</p></span><span class="inblock image_desc"><img class="os-icon" alt="Windows 7 or later" src="/images/icon-windows.png" data-holder-rendered="true"/>
                <p>Windows 7 or later</p></span></div>
            <div class="text-center"><a class="btn btn-primary btn-sm" data-ng-href="{{callbackUrl}}" title="Go to Learning Services">Go Back</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
